<div class="container-fluid">
    <div class="row">
        <div class="col-12 px-0">
            <app-topmenu-institution></app-topmenu-institution>
        </div>
        <div class="col-2 px-0">
            <app-sidemenu-institution [selectedMenu]="'projects'"></app-sidemenu-institution>
        </div>
        <div class="col-10 pt-4">
            <div class="row">
                <div class="col-5 card">
                    <div class="card-body">
                        <b>{{ projectData.name }}</b>
                    </div>
                </div>

                <div class="col-12 mt-4">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a  href="#" class="nav-link" (click)="changeSection('task')" [ngClass]="{ 'active': navigationSelected == 'task' }">Tareas</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" (click)="changeSection('notes')" [ngClass]="{ 'active': navigationSelected == 'notes' }">Notas</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" (click)="changeSection('team')" [ngClass]="{ 'active': navigationSelected == 'team' }">Equipo</a>
                        </li>
                    </ul>
                </div>

                <div class="col-12" *ngIf="navigationSelected == 'task'">
                    <div class="row">
                        <div class="col-12 pt-5">
                            <div class="row">
                                <div class="col-12 d-flex justify-content-end">
                                    <app-form-add-category-project [projectId]="idProyecto"></app-form-add-category-project>
                                </div>
                            </div>
                            <hr>
                            <app-task-table [projectId]="idProyecto"></app-task-table>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>