<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Nueva categoria
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Nueva categoria</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
                <div class="mb-3">
                    <label class="form-label">Nombre de la categoria</label>
                    <input type="text" class="form-control" [(ngModel)]="formNewCategory.title" placeholder="EJ: Tareas prioritarias">
                </div>

                <div class="mb-3">
                    <label  class="form-label">Descripción de la categoria</label>
                    <input type="email" class="form-control" [(ngModel)]="formNewCategory.descript" placeholder="EJ: estas tareas son las prioritarias">
                </div>

                <div class="mb-3">
                    <label  class="form-label">Color por defecto</label>
                    <input type="color" [(ngModel)]="formNewCategory.color" class="form-control">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="createCategory()">Crear mi categoria</button>
            </div>
        </div>
    </div>
</div>