<div class="container">
    <div class="row">
        <div class="col-4 offset-4 mt-5 pt-5 d-flex justify-content-center flex-column align-items-center">
            <h1>Registrate</h1>
            <input type="text" class="form-control mt-3" [(ngModel)]="userParams.email" placeholder="email">
            <input type="password" class="form-control mt-3" [(ngModel)]="userParams.password" placeholder="password">
            <button class="btn btn-primary mt-3" (click)="crearCuenta()">Crear Cuenta</button>

            <a href="/login" class="mt-5">Ya tengo cuenta, ir al login</a>
        </div>
    </div>
</div>