

<div class="container">
    <div class="row">
        <div class="col-4 offset-4 mt-5 pt-5 d-flex justify-content-center flex-column align-items-center">
            <h1>Accede</h1>
            <input type="text" class="form-control mt-3" placeholder="email">
            <input type="password" class="form-control mt-3" placeholder="password">
            <button class="btn btn-primary mt-3" (click)="super()">Hacer login</button>

            <a href="/register" class="mt-5">Registrate aqui</a>
        </div>
    </div>
</div>


