<div class="row">
    <div class="col-12 table-responsive">
        <table class="table table-hover table-bordered">
            <thead>
                <th class="text-center" [width]="30">#</th>
                <th  [width]="170">Estado</th>
                <th >Tarea</th>
                <th >Descripción</th>
                <th  [width]="150">HH estimadas</th>
                <th [width]="100"></th>
            </thead>
            <tbody>
                @for (task of tasks; track $index) {
                    <tr>
                        <td>{{$index}}</td>
                        <td> <app-dropdown-change-state-task [projectId]="projectId" [taskId]="task.$id" [state]="task.status"></app-dropdown-change-state-task></td>
                        <td>{{ task.title }}</td>
                        <td>{{ task.description }}</td>
                        <td>{{ task.estimated }}</td>
                        <td>
                            <button class="btn btn-danger btn-sm" (click)="changeStateTask(task.$id)">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="col-12 mt-4">
        <table class="table">
            <tfoot>
                <tr>
                    <td colspan="2">
                        <select class="form-control" name="" id="">
                            <option value="1">sdasd</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" class="form-control" [(ngModel)]="newtask.title" placeholder="titulo de la tarea">
                    </td>
                    <td>
                        <input type="text" class="form-control" [(ngModel)]="newtask.description"
                            placeholder="Descripcion de la tarea">
                    </td>
                    <td>
                        <input type="number" class="form-control" [(ngModel)]="newtask.hh" placeholder="HH estimadas">
                    </td>
                    <td>
                        <button class="btn btn-primary" (click)="addTaskToProject()">Agregar</button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

</div>
